<div class="mx-auto text-center">
  <div class="p-8 bg-gray-100">
    <h2 class="text-2xl sm:text-3xl">About Actuals</h2>

    <p class="mx-auto mt-4 text-gray-500">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente modi
      suscipit est ipsum qui nulla.
    </p>
  </div>
  <div class="p-6 max-w-4xl mx-auto text-center">
    <div class="py-8 px-10 bg-white border border-gray-200 divide-y divide-gray-200 rounded-xl">
      <p class="mt-4 leading-relaxed text-gray-700 text-left">
        Imagine you've encountered the name of a company you didn't know while reading a newspaper article. What's your first action? Should you check the description of the company by googling it, look at stock prices, or go to the SEC site to download financial statements?
        <br><br>
        Creating the most comprehensive summary of companies in one place is what we try to implement in our service. One page, one company, 17 years of financial data with corresponding stock prices to check the relationship between fundamentals. If you want more, we added full, 30+ years of financial statements completely free of charge.
        <br><br>
        You can consider us like your handbook in the investing world. Every time you see or hear about any tradable company, just type in a name or a ticker. Then it's up to you to decide whether you should dig further or skip this security and go to another one.
        <br><br>
        <b>Here we have 5 points on how to make your investing experience with us even better:</b>
        <br>
        1. Double check all information you can before making a financial decision.
        <br><br>
        2. Read financial statements of a company on the SEC website for the last five years.
        <br><br>
        3. Read the latest news about a business from trusted publishers (e.g. The Wall Street Journal, The Economist, The New York Times, The Washington Post, The New Yorker) to get some "soft metrics" you can't find in financial reports.
        <br><br>
        4. "Whenever you find yourself on the side of the majority, it is time to pause and reflect." -Mark Twain
        <br><br>
        5. Double check everything.
        
        
        
      </p>
    </div>
  </div>
</div>