<footer class="bg-gray-100">
  <div class="relative max-w-screen-xl px-4 py-4 mx-auto sm:px-6 lg:px-8 lg:pt-12">

    <div class="grid grid-cols-2 gap-8 mt-8 lg:mt-0 lg:grid-cols-5 lg:gap-y-16 bg-white border border-gray-200 rounded-xl p-6">
      <div class="col-span-2">
        <div>
          <h2 class="text-2xl font-bold text-black">
            Subscribe Now!
          </h2>

          <p class="mt-2 text-gray-800">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse non cupiditate quae nam molestias.
          </p>
        </div>
      </div>

      <div class="col-span-2 lg:col-span-3 lg:flex lg:items-end">
        <form class="w-full text-black">
          <label for="email" class="sr-only"> Email </label>

          <div class="p-2 border sm:flex sm:items-center border-white/10">
            <input
              class="w-full h-12 p-3 text-sm font-medium tracking-widest placeholder-gray-600 uppercase bg-transparent border-none"
              type="email" id="email" placeholder="Enter your email" />

            <button
              class="w-full h-12 px-6 py-3 mt-1 text-sm text-white tracking-wide bg-gray-700 sm:ml-4 sm:flex-shrink-0 sm:w-auto sm:mt-0 rounded-xl"
              type="submit">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="py-8 lg:flex lg:items-end lg:justify-between">
      <div>
        <h5>Found an Error or have an idea? Write us an email to us <b>contact@actuals.com</b> </h5>
        <p class="mx-auto py-1 leading-relaxed text-sm text-center text-gray-800 lg:text-left">
          All data and information is provided “as is” for informational purposes only, and is not intended for trading purposes or financial, investment, tax, legal, accounting or other advice. AcutalsHQ.com does not guarantee the accuracy, adequacy, completeness or availability of any information and is not responsible for any errors or omissions, regardless of the cause or for the results obtained from the use of such information.
        </p>
      </div>
    </div>

    <p class="mt-2 text-sm text-center text-gray-400 lg:text-right">
      Copyright &copy; 2022. All rights reserved.
    </p>
  </div>
</footer>