<section class="bg-gray-100">
  <div class="max-w-screen-xl px-4 py-12 mx-auto sm:px-6 lg:px-8">

    <h6 class="text-3xl font-bold sm:text-2xl">Projects</h6>
    <p class="mt-4 text-gray-600">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut vero
      aliquid sint distinctio iure ipsum cupiditate</p>

      <div class="px-8">
        <div class="grid grid-cols-1 gap-2 lg:grid-cols-2 py-2">
          <p class="text-xs text-center text-gray-400 lg:text-left">
          </p>
  
          <nav class="flex justify-center space-x-4">
            
            <input type="text" class="w-full p-2 text-sm border-gray-200 rounded-md shadow-sm"
              placeholder="Search By Title" (keyup)="searchByTitle($event)"/>
          </nav>
        </div>
      </div>
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-4 lg:items-start">
      <div class="lg:sticky lg:top-4">
         <form action="" class="border-t border-gray-200 lg:border-t-0">
            <fieldset>
              <legend class="block w-full px-5 py-3 text-lg font-bold">
                Types
              </legend>

              <div class="px-5 py-1 space-y-2">
                <div class="flex items-center" *ngFor="let i of typesList">
                  <input id="type-{{i}}" type="checkbox" name="type{{i}}" class="w-5 h-5 border-gray-300 rounded"
                    (change)="applyFiler(i, $event)" />

                  <label for="type-{{i}}" class="ml-3 text-sm font-medium">
                    {{i}}
                  </label>
                </div>
              </div>
            </fieldset>

            <div class="py-5">
              <fieldset>
                <legend class="block w-full px-5 py-3 text-lg font-bold">
                  Tags
                </legend>

                <div class="px-5 py-1 space-y-2">
                  <div class="flex items-center" *ngFor="let i of tagsList">
                    <input id="tag-{{i}}" type="checkbox" name="tag{{i}}" class="w-5 h-5 border-gray-300 rounded" />

                    <label for="tag-{{i}}" class="ml-3 text-sm font-medium">
                      {{i}}
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
          </form>
      </div>

      <div class="lg:col-span-3">
        <app-projects [viewAllButton]="false" [showAllprojects]="true" [filterList]="filterList" [searchKey]="searchKey"></app-projects>
      </div>
    </div>
  </div>
</section>

<script>
  window.addEventListener('resize', () => {
    const desktopScreen = window.innerWidth < 768

    document.querySelector('details').open = !desktopScreen
  })
</script>