<section class="bg-gray-100">
  <div class="max-w-screen-xl px-4 py-12 mx-auto sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-4 lg:items-start">
      <nav class="flex flex-col mt-6 space-y-1">
        <details open class="group">
          <summary class="flex items-center py-2 text-gray-900 rounded-lg cursor-pointer">
            <span class="ml-3 text-lg font-medium"> Markets </span>
            <span class="ml-auto transition duration-300 shrink-0 group-open:-rotate-180">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd" />
              </svg>
            </span>
          </summary>
          <span class="ml-3 text-sm font-medium"> Spot </span>
          <a *ngFor="let menu of sideMenuObj.Markets" href="" class="flex items-center py-2 text-gray-900">

            <span class="ml-3 text-sm font-large"> {{menu}} </span>
          </a>
        </details>

        <details open class="group">
          <summary class="flex items-center py-2 text-gray-900 rounded-lg cursor-pointer">
            <span class="ml-3 text-lg font-medium"> On-Chain Metrics </span>

            <span class="ml-auto transition duration-300 shrink-0 group-open:-rotate-180">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd" />
              </svg>
            </span>
          </summary>
          <a *ngFor="let menu of sideMenuObj.OnChainMetrics" href="" class="flex items-center py-2 text-gray-900">

            <span class="ml-3 text-sm font-large"> {{menu}} </span>
          </a>
        </details>
      </nav>

      <div class="lg:col-span-3">
        <p class="mt-4 text-gray-600">MARKETS</p>
        <h6 class="text-3xl font-bold sm:text-2xl">Spot</h6>

        <div class="grid grid-cols-1 gap-px mt-4 bg-gray-200 border border-gray-200 sm:grid-cols-2 lg:grid-cols-2">
          <a href="/" class="relative block bg-white overflow-hidden">

            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"></highcharts-chart>
          </a>

          <a href="/" class="relative block bg-white overflow-hidden">

            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"></highcharts-chart>
          </a>

          <a href="/" class="relative block bg-white overflow-hidden">

            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"></highcharts-chart>

          </a>

          <a href="/" class="relative block bg-white overflow-hidden">
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"></highcharts-chart>
          </a>

          <a href="/" class="relative block bg-white overflow-hidden">
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"></highcharts-chart>
          </a>

          <a href="/" class="relative block bg-white overflow-hidden">
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"></highcharts-chart>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  window.addEventListener('resize', () => {
    const desktopScreen = window.innerWidth < 768

    document.querySelector('details').open = !desktopScreen
  })
</script>